.header-logo {
  z-index: 3;
  width: 70px;
  margin: 10px;
}

.header-logo img {
  width: 70px;
}

.project-list {
  margin: 60px auto;
}

.project-list h1 {
  font-size: min(max(16px, 4vw), 18px);
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  padding-top: 10%;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  justify-content: center;
  padding: 20px 20px;
}

.project-grid-item {
  border-radius: 30px;
  border: 1px solid rgb(48, 53, 80);
  gap: 10px;
  margin: 10px;
  padding: 20px 20px;
}

.project-grid-item-imagem {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
}

.project-grid-item:hover {
  border-radius: 30px;
}

.project-title,
.task-title {
  color: #1e90ff;
}

.project-title,
.project-module,
.project-block,
.task-content {
  text-align: center;
}

.project-content p {
  margin-bottom: 0.5em;
  line-height: normal;
}

.project-content,
.task-content {
  color: currentColor;
  font-size: large;
}

.task-btn {
  display: flex;
  justify-content: center;
}

.task-badge {
  display: block;
  margin: 10px;
  text-align: center;
}

.badge-custom {
  margin: auto 2px;
}

.task-btn-repo,
.task-btn-deploy {
  margin: 0 5px;
}

.project {
  display: flex;
  justify-content: center;
}

.custom-loading {
  display: flex;
  margin: 50px auto 0 auto;
}
