{
  "root": true,
  "extends": ["airbnb", "airbnb/hooks", "plugin:prettier/recommended"],
  "ignorePatterns": ["src/reportWebVitals.js", "reportWebVitals.js"],
  "plugins": ["prettier"],
  "rules": {
    "max-len": "off",
    "no-console": "off",
    "no-alert": "off",
    "linebreak-style": 0,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": true,
        "peerDependencies": true
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/react-in-jsx-scope": "off",
    "jsx-quotes": ["error", "prefer-double"],
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "object-curly-newline": [
      "warn",
      {
        "ObjectExpression": "always",
        "ObjectPattern": { "multiline": true },
        "ImportDeclaration": {
          "minProperties": 3,
          "consistent": false,
          "multiline": true
        },
        "ExportDeclaration": { "multiline": true, "minProperties": 3 }
      }
    ],
    "jsx-a11y/anchor-is-valid": ["warn"]
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  }
}
