.aside {
  margin-top: 0;
  display: flex;
  flex-flow: column;
  height: 100%;
  max-width: 320px;
  padding: 10px 10px 10px 10px;
  position: fixed;
}

.aside-container {
  color: rgb(209, 209, 209);
  height: 100%;
  padding: 5px 5px;
  text-align: center;
}

.aside-container h2 {
  font-family: TechnoBold, Ubuntu;
  padding: 0 10px 0 10px;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  width: bold;
}

.aside-container p {
  font-family: Tekton, Ubuntu;
  font-size: larger;
  margin-bottom: 0 !important;
  padding: 10px 0;
}

.nav-container {
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
  margin: 0;
  padding: 10px 10px;
}

.nav-container img {
  width: 50px !important;
}

.nav-title p {
  padding: 10px 10px 0 10px;
}

.logo {
  max-width: 220px;
}

.profile {
  border-radius: 140px;
  max-width: 20vh;
  min-width: 10vw;
}

