@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@font-face {
  font-family: TechnoBold;
  src: url('../font/TECHNOB.TTF');
}

@font-face {
  font-family: Tekton;
  src: url('../font/TEKTON.TTF');
}

body {
  background-color: #000325;
  background-image: linear-gradient(180deg, #000000 0%, #09090c 50%, #000000 100%);
  max-width: 100%;
}

.aside {
  /* margin-top: -55px; */
  display: flex;
  flex-flow: column;
  height: 100%;
  max-width: 320px;
  padding: 10px 10px 10px 10px;
  position: fixed;
}

.header {
  color: rgb(18, 18, 20);
  display: flex;
  flex-flow: column;
  font-family: Ubuntu;
  justify-content: space-between;
  padding: 0 0 10px 0;
}

.main {
  margin-top: 10px;
}

.content {
  font-family: Ubuntu;
  margin: 5px 0 10px 320px ;
}

.cover {
  color: rgb(209, 209, 209);
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.cover h2, h3, h4, ul {
  color: rgb(209, 209, 209);
}

.cover img {
  width: 100%;
}

.article {
  color: rgb(209, 209, 209);
  font-family: Ubuntu;
}

.caption {
  background-color: #000325;
  background-image: linear-gradient(90deg, #000000 0%, #09090c 50%, #313030 100%);
  border-radius: 30px;
  color: rgb(209, 209, 209);
  display: flex;
  font-family: Tekton;
  justify-content: flex-end;
  margin: 0 5px 0 0;
  padding: 5px;
  text-align: right;
}

.caption-sub {
  background-color: #000325;
  background-image: linear-gradient(90deg, #1d1c1c 0%, #09090c 50%, #000000 100%);
  padding: 5px;
}
